# -*-coding: utf-8 -*-
<%inherit file="base.html"/>

<%block name="title">
关于
</%block>

<%block name="content">
<div class="container">
    <h4>关于</h4>
    <p>简易的新闻发布系统</p>
    <ul>
        <li>使用Django框架</li>
        <li>数据库使用sqlite3
            <ul><li>为了便于测试所以选用sqlite3</li></ul>
        </li>
        <li>支持多个账号</li>
            <ul>
                <li>测试超级用户/密码：admin/admin</li>
            </ul>
        <li>新闻实体包括标题、时间、状态（编辑中、发布、已删除）、作者、分类、正文</li>        
        <li>后台的正文编辑支持普通文本和markdown格式</li>
        <li>前台展示至少包括新闻的分类列表和时间排序列表，以及正文页三个页面
            <ul>
                <li>首页默认按新闻文章发布的时间排序列表</li>
                <li>分类列表按新闻文章的标签来排序列表</li>
                <li>为使用户体验良好，每个列表都设置有页码，默认每页10条，如不足10条则不显示页码</li>
            </ul>
        </li>
        <li>正文页提供两个功能：字体放大缩小、顶一下和踩一下
            <ul>
                <li>字体设置使用JS实现，为了用户体验简便，只设置常用的大、中、小三种字体，并保存设置到cookie，下次访问正文时取之前cookie中的字体设置</li>
                <li>顶一下和踩一下功能使用AJAX实现，异步数据传输把数据保存至 Web 服务器</li>
                <li>为使用户体验良好，在征文标题下显示该文章的标签，提供链接供快速浏览相同标签文章列表</li>
            </ul>
        </li>
        <li>网页模板使用 Mako Templates </li>
            <ul>
                <li>前端使用 Bootstrap 开源项目来简易的美化</li>
            </ul>
    </ul>
</div>
</%block>